


/* =================================
  Font
==================================== */

/* @import url('https://fonts.googleapis.com/css?family=Varela+Round'); */

@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400|Varela+Round');

/* =================================
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}
body {
    font-family: 'Oxygen', sans-serif;
    /* letter-spacing: 1px; */
    font-size: 16px;
    line-height: 1.5;
    color: #3a3a3a;
    margin: 0;
}

h1, h2, h3, button, footer, .button, .banner, .name {
    font-family: 'Varela Round', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
p {
    font-size: 1em;
    margin-bottom: 1.8em;
}
h2, h3, a {
    color: #093a58;
}
h1, h2, h3 {
    margin-top: 0;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
    font-size: 1.35em;
    margin: 0;
}
.main-nav {
    margin-top: 5px;
}
.name a, .main-nav a {
    text-align: center;
    display: block;
    padding: 10px 15px;
}
.main-nav a {
    font-size: .95em;
    color: #006699;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.main-nav a:hover {
    color: #0099CC;
}

/* ---- Layout Containers ---- */

header {
    padding-top: .5em;
    padding-bottom: .5em;
}
footer {
    text-shadow: 2px 2px 2px #000000;
}
.banner, .main-footer {
    text-align: center;
    box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, .8);
}
.banner {
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
    padding: 3.2em 0;
    margin-bottom: 40px;
    background: linear-gradient(#006699, transparent 70%),
    linear-gradient(0deg,#ffffff, transparent),
    #006699 url('../img/portland_night.jpg') no-repeat center;
    background-size: cover;
}
.col {
    padding-right: 1em;
    padding-left: 1em;
}

.main-footer {
    color: #ffffff;
    background: #006699;
    padding: 2em 0;
    margin-top: 30px;
}

.aside {
    background-color: #006699; /* rgba(0, 102, 153, .9)*/
    color: #ffffff;
    border-radius: 15px;
    text-shadow: 2px 2px 2px #000000;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .3);
    padding: 15px;
}

.aside h2 {
    color: #ffffff;
}


/* ---- Page Elements ---- */

.logo {
    width: 100px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, .8);
}
.headline {
    margin-bottom: 0;
}
.feat-img {
    border-radius: 6px;
}

.button {
    color: #ffffff;
    text-align: center;
    padding: .625em 1.25em;
    background-color: #006699;
    border-radius: 6px;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .5);
}

.button:hover {
    /* color: #000000; */
    /* background-color: #0099CC; */
    opacity: .9;
}

.buttoncol {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.buttoncol .button {
    margin-top: auto;
    align-self: flex-end;
    margin-bottom: 20px;
}

/* =================================
  Flex Card Styles
==================================== */
.card_container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1.5em 1em;
    border: 2px solid #000000;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .3);
}

.card .material-icons {
    font-size: 4em;
    /* color: #0099CC; */

    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
}


.card:nth-of-type(1) {
    margin-top: 0;
}


.card h2 {
    text-align: center;
}

.card p a:link, .card p a:visited {
    color: #0099CC;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
}

.card p a:hover, .card p a:active {
    color: #CC0099;
}



/*
.icn-pink {
    color: #CC0099;
}
.icn-blue {
    color: #0033CC;
}
.icn-yellow {
    color: #FFFF00;
}

.icn-red {
    color: #CC0000;
}
*/

.icn-brown {
    color: #996633;
}
.icn-purple {
    color: #660099;
}
.icn-black {
    color: #333333;
}
.icn-green {
    color: #009900;
}
.icn-blue {
    color: #0033CC;
}

.icn-orange {
    color: #FF6600;
}

/* =================================
  Navigation Icon
==================================== */
.icn-menu {
    color: #006699;
    font-size: 3em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
}

.icn-menu:hover, .MainNavDefault.Toggle .icn-menu:hover {
    color: #0099CC;
}

.MainNavDefault.Toggle .icn-menu {
    color: #000000;
}

.MainNavDefault .icon {
    display: none;
}



.MainNavDefault {
    overflow: hidden;
}


/* When the screen is less than 600 pixels wide, hide all links. Show the link that contains should open and close the MainNavDefault (.icon) */

@media (max-width: 768px) {
    .MainNavDefault a {
        display: none;
    }
    .MainNavDefault a.icon {
        display: block;
        float: right;
    }
    .MainNavDefault .icon {
        right: 0;
        margin-right: 15px;
        margin-top: 5px;
    }
    /* Navigation Icon */
    .navlogo {
        display: hidden;
    }
    .name {
        display: none;
    }
}

/* The "Toggle" class is added to the MainNavDefault with JavaScript when the user clicks on the icon.
This class makes the MainNavDefault look good on small screens
(display the links vertically instead of horizontally) */

@media (max-width: 768px) {
    .MainNavDefault.Toggle {
        position: relative;
    }
    .MainNavDefault.Toggle .icon {
        position: absolute;
        top: 0;
    }
    .MainNavDefault.Toggle a {
        display: block;
        float: none;
        text-align: center;
    }
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
    header, .row, .card_container {
        width: 90%;
        margin: 0 auto;
    }
    .tagline {
        font-size: 1.4em;
    }
    .logo {
        width: 190px;
    }
    .card:nth-of-type(2) {
        margin-top: 0;
    }
}
@media (min-width: 1025px) {
    header, .row {
        width: 80%;
        max-width: 1150px;
    }
    .card:nth-of-type(3) {
        margin-top: 0;
    }
}


/* =================================
  Form Styles
==================================== */

form {
    width: 600px;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px solid #000000;
    background: #f4f7f8;
    box-shadow: 5px 5px 3px 1px rgba(0, 102, 153, .4);
}

input[type="text"], input[type="email"], textarea, select {
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 15px;
    padding: 15px;
    color: #006699;
    border: none;
    border-bottom: 3px solid rgba(0, 102, 153,.03);
    border-radius: 10px;
    outline: 0;
    background-color: rgba(0, 102, 153,.08);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) inset;
    font-size: 16px;
}



input[type="radio"], input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
    color: #006699;
    font-weight: 400;
}

input:focus, textarea:focus {
    color: #000000;
    border-color: #006699;
}

select {
    height: 32px;
    padding: 6px;
    border-radius: 2px;
}

button {
    display: inline;
    margin-bottom: 10px;
    padding: .625em 1.25em;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #006699;
    border-width: 1px 1px 3px;
    border-radius: 6px;
    background-color: #006699;
    box-shadow: 3px 3px 1px 1px rgba(0, 102, 153, .4);
    text-shadow: 2px 2px 2px #000000;
    font-size: 18px;
    font-style: normal;
    text-transform: uppercase;
}

button[type="reset"]:hover, button[type="reset"]:active {
    background-color: #CC0000;
    border-color: #CC0000;
    box-shadow: 3px 3px 1px 1px rgba(204, 0, 0, .4);
}

button[type="submit"]:hover, button[type="submit"]:active {
    background-color: #009900;
    border-color: #009900;
    box-shadow: 3px 3px 1px 1px rgba(0, 153, 0, .4);
}


/* Creates space only between 2 sibling button elements */
button + button {
    margin-left: 20px;
}


fieldset {
    margin-bottom: 20px;
    border: none;
}

legend {
    margin-bottom: 10px;
    font-size: 1.4em;
    color: #000000;
    border-bottom: solid 2px #006699;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    margin-top: 20px;
}

label.light {
    display: inline;
    font-weight: 300;
}

form a[target="_blank"] {
    text-decoration: none;
    color: #006699;
    border-bottom: 1px dotted;
    font-size: .8em;
}

form a[target="_blank"]:hover {
    opacity: .75;
}


/* These styles will take effect at 0px to 600px only */
@media (max-width: 650px) {
    form {
        max-width: 90%;
    }
    button {
        display: block;
        width: 100%;
    }
    button + button {
        margin-left: 0;
    }
}
