/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
    header, .main-nav, .row {
        display: flex;
    }

    header {
        flex-direction: column;
        align-items: center;
    }
    .col {
        flex: 1 50%;
    }
    .row {
        flex-wrap: wrap;
    }
    .secondary {
        order: -1;
    }
    .aside_container {
        order: 1;
    }
    .card .button {
        margin-top: auto;
        align-self: center;
    }
    .buttoncol .button {
        margin-top: auto;
        align-self: center;
    }

    /* Flexcard */
    .card {
        flex: 1 46%;
    }
}

@media (min-width: 1025px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    .col {
        flex-basis: 0;
    }
    .primary {
        flex-grow: 1.5;
    }
    /* Flexcard */
    .card {
        flex-basis: 27.33333%;
    }
}
